{
	"presets": ["next/babel", "env", "stage-0"],
	"plugins": [[
		"import", {
			"libraryName": "antd",
			"libraryDirectory": "lib",
			"style": false
		}
	], [
		"css-modules-transform", {
			"extensions": [".css", ".less"],
			"extractCss": "./static/css/styles.css",
			"generateScopedName": "[name]-[local]_[hash:base64:5]",
			"preprocessCss": "less-loader"
		}
	]]
}
